.ant-input-group .ant-input {
	@include whenDark {
		background-color: $listings-card-bg;
		color: $white-theme-color-1;
	}
}
.ant-picker-input {
	@include whenDark {
		input {
			color: $white-theme-color-3;
		}
		.ant-picker-suffix {
			color: $white-theme-color-3;
		}
		.ant-picker-clear {
			background: none;
		}
		.ant-picker-clear:hover {
			background: $black-trans;
			color: white;
		}
	}
}
