$dark-blue-1: #1d226c;
$dark-blue-2: #011324;
$white-brown-blend: #bfbfbf;
$white-1: #fff;
$white-2: #f0f1f2;
$white-3: #c9d7f8;
$dark-blue-3: #000c17;
$font_family-1: Gochi Hand;
$dark-blue-4: #000c17cc;
$skeleton-card-color: #d9d9d9;
$white-transparent: #bfbfbf59;
$black-transparent: #00000057;
body {
	--foregroundPrimary-1: #{$dark-blue-1};
	--foregroundPrimary-2: #{$white-2};
	--backgroundPrimary: #{$white-1};
	--heroCardCover: #1d226c;
	--google-bg: #4285f4;
	--google-bg-active: #3367d6;
	--skeleton-card: #{$skeleton-card-color};
	@include whenDark {
		--foregroundPrimary-1: #{$white-1};
		--foregroundPrimary-2: #111;
		--foregroundPrimary-3: #{$white-3};
		--backgroundPrimary: #{$dark-blue-2};
		--heroCardCover: #0a0a0e;
		--google-bg: #2d24aa;
		--google-bg-active: #443cac;
		--skeleton-card: #{$dark-blue-4};
	}
}
