.app-header {
	display: flex;
	background: var(--backgroundPrimary);
	box-shadow: 0 2px 8px var(--foregroundPrimary-2);
	padding: 0;
	.app-header__logo-search-section {
		background-color: var(--backgroundPrimary);
		display: flex;
		align-items: center;
		flex-grow: 1;
		.app-header__logo {
			display: inline-block;
			padding: 0 20px;
			img {
				width: 100px;
			}
		}
		.app-header__search-input {
			display: flex;
			align-items: center;
			flex-grow: 1;
			padding-right: 10px;
			.ant-input-group {
				border: 0;
				width: 100%;
				max-width: 460px;
				input {
					border: 1px solid var(--foregroundPrimary-2);
					box-shadow: 0 2px 4px rgba(29, 34, 108, 0.1);
				}
			}
		}
	}
	@include whenDark {
		box-shadow: 0 2px 8px #0b0b0b;
		background: darken($white-theme-color-1, 10%);
	}
}
// .app__affix-header {
// 	z-index: 99;
// }
// .app-header-skeleton {
// 	display: flex;
// 	background: var(--backgroundPrimary);
// 	box-shadow: 0 2px 8px var(--foregroundPrimary-2);
// 	padding: 0;
// }
// .app-header-skeleton__search-section {
// 	display: flex;
// 	align-items: center;
// 	flex-grow: 1;
// }
// .app-header-skeleton__logo {
// 	padding: 0 20px;
// 	img {
// 		width: 55px;
// 	}
// }
// .app-header-skeleton__search-input {
// 	display: flex;
// 	align-items: center;
// 	flex-grow: 1;
// 	padding-right: 10px;
// 	.ant-input-group {
// 		border: 0;
// 		width: 100%;
// 		max-width: 460px;
// 		input {
// 			border: 1px solid var(--foregroundPrimary-2);
// 			box-shadow: 0 2px 4px rgba(29, 34, 108, 0.1);
// 		}
// 	}
// }
