.app-skeleton {
	height: 100%;
	background: var(--backgroundPrimary);
	display: flex;
	.app-skeleton__spin-section {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
.page-skeleton__paragraph {
	padding-bottom: 40px;
}
