.listing-card-info {
	.ant-card-cover {
		background-color: var(--skeleton-card);
	}
	.ant-card-body {
		@include whenDark {
			background-color: $listings-card-bg;
		}
	}
	// .ant-card-body {
	// 	@include whenDark {
	// 		background-color: $darker-blue-2;
	// 	}
	// }
	@include whenDark {
		background: none;
		&:hover {
			border: none;
			box-shadow: 0px 0px 24px 0px rgba(0, 12, 12, 1);
		}
	}
	.listing-card__cover-img {
		width: 100%;
		height: 195px;
		background-size: cover;
		background-position: 50%;
	}
}
.listing-card__rating-tag {
	position: absolute;
	top: 5px;
	right: 0;
}
.listing-card__description {
	padding-bottom: 20px;
	span {
		@include whenDark {
			color: var(--foregroundPrimary-3);
		}
	}
}

.listing-card__price.ant-typography {
	color: var(--foregroundPrimary-1);
	span {
		color: $white-brown-blend;
		font-weight: 400;
	}
}
.listing-card__title.ant-typography {
	display: block;
}
.listing-card__address.ant-typography {
	display: block;
}
.listing-card__dimensions {
	i {
		padding-right: 10px;
		font-size: 13px;
	}
	span {
		padding-right: 10px;
		font-size: 13px;
		color: $white-brown-blend;
	}
}
.listing-card__dimensions--guests {
	float: right;
	span {
		padding-right: 0;
	}
}
.ant-card-bordered {
	border: 1px solid var(--foregroundPrimary-2);
}
.log-in-card__google-button-logo {
	height: 43px;
}
.log-in-card__google-button-text {
	text-align: left;
	white-space: nowrap;
	padding: 10px;
}
.log-in-card__google-button {
	margin: 40px auto;
	border-radius: 2px;
	// background-color: #4285f4;
	background-color: var(--google-bg);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
	border: none;
	display: flex;
	align-items: center;
	padding: 1px;
	color: var(--backgroundPrimary);
	cursor: pointer;
	&:hover {
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24),
			0 0 2px 0 rgba(0, 0, 0, 0.12);
	}
	&:active {
		// background: #3367d6;
		background: var(--google-bg-active);
	}
	@include whenDark {
		color: $white-theme-color-1;
	}
}
.log-in-card {
	width: 450px;
	text-align: center;
	padding: 10px 0 20px;
}
.log-in-card__intro-title.ant-typography {
	margin-top: 5px;
	& + h3.ant-typography {
		margin-top: 5px;
	}
}
.ant-skeleton {
	.ant-skeleton-content {
		h3,
		li {
			@include whenDark {
				background: $rich-black-fogra !important;
			}
		}
	}
}
.listings-skeleton__card {
	margin: 5px 0;
}

.listings-skeleton__card-cover-img {
	width: 100%;
	height: 195px;
}
.listing-booking-modal__stripe-card-section {
	padding-bottom: 10px;
	text-align: center;
	@include whenDark {
		color: white;
	}
}
.listing-booking-modal__stripe-card {
	padding: 10px;
	margin: 40px 0;
	border: 1px solid var(--foregroundPrimary-2);
	box-shadow: 0 2px 4px rgba(29, 34, 108, 0.1);
}
.listing-booking__card-cta {
	display: block;
	margin: 0 auto 10px;
}
.log-in-card {
	@include whenDark {
		background: $listings-card-bg;
		.ant-card-body {
			background: $listings-card-bg;
		}
		.ant-typography {
			color: $white-theme-color-3;
		}
	}
}
.home-hero__cards {
	padding-top: 60px;
	.ant-card {
		background: transparent;
		cursor: pointer;
	}
	.ant-card-cover {
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: var(--heroCardCover);
			opacity: 0.5;
			-webkit-transition: all 0.3s linear;
			transition: all 0.3s linear;
		}
		&:hover {
			&:before {
				background: none;
			}
		}
	}
	.ant-card-body {
		padding-top: 0;
		padding-bottom: 0;
		height: 0;
		// color: var(--backgroundPrimary);
		color: $white-theme-color-1;
		font-weight: 700;
		position: relative;
		bottom: 40px;
	}
}
.user-profile__card {
	width: 100%;
	@include whenDark {
		background-color: $listings-card-bg;
		box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.75);
	}
}
.listing-booking__card-date-picker {
	padding-bottom: 20px;
	.ant-typography {
		@include whenDark {
			color: $white-theme-color-2;
		}
	}
	.ant-picker {
		@include whenDark {
			background-color: $darker-blue-2;
		}
	}
}
.listing-booking__card-title.ant-typography {
	color: var(--foregroundPrimary-1);
	margin-bottom: 5px;
	span {
		color: $white-brown-blend;
		font-weight: 400;
	}
}
.listing-booking__card {
	@include whenDark {
		.ant-card-body {
			background-color: $listings-card-bg;
		}
	}
	width: 100%;
	text-align: center;
}

.home-listings-skeleton__card {
	margin: 5px 0;
}
.home-listings-skeleton__card-cover-img {
	width: 100%;
	height: 195px;
}
