.log-in {
	display: flex;
	align-items: center;
	justify-content: center;
}
.stripe {
	display: flex;
	align-items: center;
	justify-content: center;
}
.home {
	padding: 60px 120px;
	background-image: url(/static/media/map-background.c21df147.jpg);
	background-repeat: no-repeat;
	background-position: 10% 0;
}
.home__cta-section {
	padding: 40px 0;
	max-width: 700px;
	text-align: center;
	margin: 0 auto;
	.ant-typography {
		color: var(--foregroundPrimary-3);
	}
	.home__cta-section-title {
		color: var(--foregroundPrimary-1);
	}
}
.home__cta-section-button {
	margin-top: 20px;
}
.home-hero {
	padding-bottom: 40px;
	width: 100%;
}
.home-hero__search {
	max-width: 600px;
}
.home-hero__title.ant-typography {
	color: var(--foregroundPrimary-1);
}
.home-hero__search-input {
	input {
		border: 1px solid var(--foregroundPrimary-2);
		box-shadow: 0 2px 4px rgba(29, 34, 108, 0.1);
	}
}

#app {
	position: relative;
	background: var(--backgroundPrimary);
	min-height: 100vh;
}
.app__affix-footer {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
html {
	overflow: auto;
	height: 100%;
	width: 100%;
}
#root {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
}
