.listing-bookings {
	h3.ant-typography {
		color: var(--foregroundPrimary-1);
	}
	h4.ant-typography {
		color: var(--foregroundPrimary-1);
	}
}
.listing-bookings__section {
	font-size: 15px;
	padding: 5px 0;
}
.listing-bookings__item {
	margin: 20px 0;
}
.listing-bookings__history {
	margin-bottom: 20px;
	> div {
		font-size: 13px;
		margin-bottom: 5px;
	}
	.listing-bookings__label {
		@include whenDark {
			color: $white-theme-color-2;
			.ant-typography {
				color: $white-theme-color-1;
			}
		}
	}
}
.host-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 100px;
	max-width: 900px;
	margin: 0 auto;
}
.listing-bookings__stars {
	font-size: 13px;
}
.listing-booking {
	max-width: 400px;
	margin: 0 auto;
	display: block;
}
.listing-booking-modal {
	text-align: center;
	padding-top: 10px;
}
.listing-booking-modal__intro {
	@include whenDark {
		.ant-typography {
			color: $white-theme-color-1;
		}
	}
}

.listing-booking-modal__intro-title.ant-typography {
	margin-top: 5px;
	& + h3.ant-typography {
		margin-top: 5px;
	}
}
.listing-booking-modal__charge-summary {
	text-align-last: center;
	@include whenDark {
		.ant-typography {
			color: $white-theme-color-1;
		}
	}
}
.listing-booking-modal__charge-summary-total {
	font-weight: 700;
	font-size: 15px;
}
.listing-booking-modal__charge-summary-stripe {
	display: block;
	font-size: 11px;
	padding-top: 5px;
}
.listing-booking-modal__cta {
	width: 100px;
}
.listing-details {
	h3.ant-typography {
		color: var(--foregroundPrimary-1);
	}
	h4.ant-typography {
		color: var(--foregroundPrimary-1);
	}
}
.listing-details__image {
	width: 100%;
	height: 570px;
	background-size: cover;
	background-position: 50%;
	margin-bottom: 20px;
}
.listing-details__title.ant-typography {
	margin-top: 5px !important;
	margin-bottom: 5px;
	span {
		color: $white-brown-blend;
		font-weight: 400;
	}
}
.listing-details__city-address.ant-typography {
	margin: 5px 0;
	@include whenDark {
		color: $white-theme-color-3;
	}
}
.listing-details__ratings.ant-typography {
	margin: 5px 0;
	font-size: 13px;
}
.listing-details__host-name {
	font-family: $font_family_1;
	display: inline-block;
	padding-left: 10px;
	position: relative;
	top: 5px;
	@include whenDark {
		color: $white-theme-color-1;
	}
}
.listing-details__section {
	font-size: 15px;
	padding: 5px 0;
}
.listing-details__about-items {
	padding-bottom: 20px;
}
.listing-details__amenities-row {
	padding: 5px 0;
	i {
		padding: 0 2.5px;
	}
	span {
		padding: 0 2.5px;
	}
}
.listing-details__booking-item {
	margin: 20px 0;
}
.listing-details__booking-history {
	margin-bottom: 20px;
	> div {
		font-size: 13px;
		margin-bottom: 5px;
	}
}
.listing-details__booking-stars {
	font-size: 13px;
}
.listing {
	padding: 60px 120px;
}
.listings-filters {
	padding: 10px 0;

	background-color: var(--backgroundPrimary);
	@include whenDark {
		span {
			color: $white-theme-color-2;
		}
		.ant-select-selector {
			background-color: $rich-black-fogra;
		}
	}

	.ant-select-selection--single {
		.ant-select-selection__rendered {
			margin-right: 30px;
		}
	}
	span {
		padding-right: 5px;
	}
}
.listings-pagination {
	padding: 10px 0;
	float: right;
}

.listings {
	padding: 60px 120px;
}
.listings--none {
	.ant-typography {
		font-size: 15px;
	}
}
.listings__affix {
	background: var(--backgroundPrimary);
	padding: 10px 0;

	@include whenDark {
		button,
		a {
			color: $white-theme-color-2;
			background: #000c17b3;
			border-color: $listings-card-bg;
		}
	}
	.ant-pagination-item {
		border-color: $rich-black-fogra;
		&:hover {
			border-color: lighten($color: #fff, $amount: 70%);
		}
		&.ant-pagination-item-active {
			border-color: lighten($color: #fff, $amount: 70%);
		}
	}
	button {
		cursor: pointer;
	}
}
.listings__title.ant-typography {
	color: var(--foregroundPrimary-1);
}
.home__listings {
	padding: 40px 0 20px;
}
.home__listings-title.ant-typography {
	color: var(--foregroundPrimary-1);
	display: inline-block;
}
.home__listings-img-cover {
	width: 100%;
	cursor: pointer;
}
.home__listings-img {
	width: 100%;
}
.listings-details__about-space {
	@include whenDark {
		color: var(--foregroundPrimary-3);
	}
}
.home-listings {
	padding: 40px 0 20px;
}
.home-listings__title.ant-typography {
	color: var(--foregroundPrimary-1);
	display: inline-block;
}
.home-listings-skeleton {
	padding: 40px 0 20px;
}
.user-listings {
	padding-top: 40px;
	.ant-list-pagination {
		padding-bottom: 20px;
	}
}
.user-listings__title.ant-typography {
	color: var(--foregroundPrimary-1);
	display: inline-block;
}
.user-listings__description.ant-typography {
	color: var(--foregroundPrimary-3);
	font-size: 15px;
}
.ant-modal-content {
	@include whenDark {
		background-color: $darker-blue-2;
	}
}
.ant-calendar-footer-text {
	font-size: 11px;
	line-height: 20px;
	padding: 10px;
	display: block;
}
