.menu {
	background-color: var(--backgroundPrimary);
	width: 100%;
	padding: 0 20px;
	line-height: 63px;
	border: 0;
}
.ant-list-empty-text {
	@include whenDark {
		color: $white-theme-color-1;
	}
}

.app-header__menu-section .anticon {
	@include whenDark {
		color: $white-theme-color-1;
	}
}
.app-header__menu-section {
	float: right;
}
.ant-menu {
	@include whenDark {
		background-color: var(--backgroundPrimary);
	}
}
.ant-menu-item[role="menuitem"] {
	@include whenDark {
		a {
			color: $white-theme-color-1;
		}
	}
}
.ant-menu-submenu {
	.ant-menu-vertical {
		@include whenDark {
			background-color: $listings-card-bg;
			* {
				color: $white-theme-color-1;
			}
		}
	}
}
.ant-menu-item:active {
	@include whenDark {
		background: #00080f;
	}
}
